<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
</head>
<body>
    <center>
        <h1>Enter your details here</h1>
        <form action="#" method="post">
            <label>Name:</label>
            <input type="Name" value="" name="name" required></body><br><br>

            <label>Email:</label>
            <input type="Email" value="" size="" name="email" required><br><br>

            <label>Mobile No:</label>
            <input type="Mobile No" value="" size="" name="number" required><br><br>

            <button type="submit">Register</button>
           </form>
    </center>
</body>
</html>